.main-part{

    padding-top: 50px;
}

.list-produits{
    padding-bottom: 50px;
    text-align: center;
    font-size: 2rem;
    color: saddlebrown;
}

.product-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    background: rgb(242, 239, 235);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.fiche{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}

.fiche-Cafe {
    border: 2px solid #6E260E;
    box-shadow: 5px 5px 5px #6E260E;
}

.fiche-The {
    border: 2px solid #4c7d15;
}

.fiche-Accessoires {
    border: 2px solid #123456;
}

.pix{
    border: 1px;
    background: lightpink;
    height: 200px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.describe{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.btn-cart{
    height: 40px;
    width: 80%;
    border-radius: 20px;
    margin: 0 auto;
    color: saddlebrown;
    border: none;
}
.link-cart, .detail{
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
    color: saddlebrown;
}