*{
    margin: 0;
    padding: 0;
}

.link-footer{
    background: rgb(169,200,130);
    background: radial-gradient(circle, rgb(187,180,145) 34%, rgba(168,124,103,1) 73%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px  ;

}
.link-must{
    list-style: none;
    text-decoration: none;
    margin: 10px;
    color: black;
}
