*{
    margin: 0;
    padding: 0;
}
footer{
    margin-top: 50px;
}

.link-footer{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.link-must{
    list-style: none;
    text-decoration: none;
    margin: 10px;
    color: black;
}
