*{
    margin: 0;
    padding: 0;
}

body{
    background: #F7F6F3;
}
/*------------------ titre----------------*/
.product-title{
    text-align: center;
    font-size: 1.9rem;
    font-family: horizon;
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.product-title::after,.product-title::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #6E260E, #4B7D15);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.product-title::before{
    top: -5px;
    transform-origin: left;
}

.product-title:hover::after,.product-title:hover::before{
    transform: scaleX(1);
}


/*-------------------------box produits--------------*/

.container-boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
}

p > a{
    text-decoration: none;
    list-style: none;
    color: black;
}

.box{
    width: 300px;
    height: 350px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    border-radius: 20px;
    position: relative;
    box-shadow:
            12px 12px 24px rgba(0, 0, 0, 0.1),
            -8px -8px 16px rgba(255, 255, 255, 0.8),
            inset 4px 4px 8px rgba(0, 0, 0, 0.05),
            inset -4px -4px 8px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease;
    cursor: pointer;
}

.box:hover{
    box-shadow:
            8px 8px 16px rgba(0, 0, 0, 0.1),
            -4px -4px 8px rgba(255, 255, 255, 0.8),
            inset 2px 2px 4px rgba(0, 0, 0, 0.05),
            inset -2px -2px 4px rgba(255, 255, 255, 0.5);
    transform: translate(2px, 2px);
}

.box:active{
    box-shadow:
        inset 6px 6px 12px rgba(0, 0, 0, 0.1),
        inset -6px -6px 12px rgba(255, 255, 255, 0.7);
    transform: translate(4px, 4px);

}


/*.cafe-produit{
    color: #4B7D15;
}
.the-produit{
    color: white ;
}
*/
.subtitle{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 15px -13px 2px rgba(0,0,0,0.09);
}

.hcafe{
    color: #6E260E;
}

.hthe{
    color: #4B7D15;
}

.hacce{
    color: #8D847E;
}

.link-p{
    text-decoration: none;
    font-size: 1.2rem;
}


/*------------------------------ section histoire-----------------*/


.container-story, .container-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}
/*------animation sous titre----*/
.story-title{
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    overflow: hidden;
}

.texte{
    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.texte.left-title{
    transform: translateX(-200%);
    animation-name: slide-in-left;
}

.texte.right-title{
    transform: translateX(200%);
    animation-name: slide-in-right;
}

.story-title.visible .left-title {
    transform: translateX(0);
}

.story-title.visible .right-title {
    transform: translateX(0);
    transition-delay: 0.4s; /* Délai de 0.3 seconde */
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

.value-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-family: horizon;
}

.story-content, .value-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.value-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.story, .value {
    width: 60%;
    min-height: 250px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.value {
    width: 60%;
    min-height: 250px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}


.story-paragraph{
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
}

.value-paragraph{
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
}



.picture {
    width: 30%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow:
            8px 8px 16px rgba(0, 0, 0, 0.1),
            -4px -4px 8px rgba(255, 255, 255, 0.8);
}

.picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}


