.centerForm{
    height: 64vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}
form{
display: flex;
    flex-direction: column;
}

label{
    margin: 10px 0 10px 0;
}

input{
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
    margin-bottom: 5px;
}

.btn-login{
    margin: 0px auto;

    border-radius: 20px;
    width: 110px;
    height: 35px;
    justify-items: center;
}

.password-edit{
    margin: 10px;
}

.link-password{
    text-decoration: none;
    list-style: none ;
    color: brown;
}
