*{
    margin: 0;
    padding: 0;
}

.nav-bar{
    ;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.logo-ct{
    margin: 5px;
}

.cafe_the{
    display: flex;
    justify-content: space-around;
}

.left{
    display: flex;
    width: 20%;
    justify-content: left;
}
.link-nav{
    color: brown;
    margin: 10px;
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
    margin: 10px;
}

.btn-logout{
    margin: 5px;
    height: 35px;
    width: 140px;
    border-radius: 20px;
    background-color: saddlebrown;
    color:white ;
}

.btn-login{
    margin: 5px;
    height: 40px;
    width: 140px;
    border-radius: 20px;
    background-color: saddlebrown;
    color:white ;
}

.btn-login-nav{
    margin: 5px;
    height: 30px;
    width: 105px;
    border-radius: 20px;
    background-color: saddlebrown;
    color:white ;
}


/* #EDE8D0 ; #D6D39A ; #E0EDBB ; #BAB095
https://www.figma.com/colors/beige/
*/