* {
    margin: 0;
    padding: 0;
}

.form-pwd{
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-pwd{
    min-height: 50vh;
    max-width: 800px;
    min-width: 300px;
    width: 40%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: #282c34 1px solid;
}

