.banner-the{
    width: 100%;
    height: 60vh;
    background-image: url('/public/image/3.png');  /* Le chemin de l'image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-content-the{
    background-image: url('/public/image/Wireframe - 2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 90vh;
}